<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Parking Availability - Admin</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="/homestyle.css" />
</head>

<body class="home-page">

  <header class="navbar">
    <div class="logo"> 
        <span>TUPark</span>
        <img src="/TUPARK.png" alt="Logo" class="logo-img">
    </div> 
  </header>

  <div class="overlay"></div>
  
  <div class="Front-content">
    <h1>LOG IN</h1>
    <form>
      <label for="admin-id">Admin ID:</label>
      <input type="text" id="admin-id" name="admin-id" />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" />
    </form>
    
    <button class="login-btn" id="login-btn">LOG IN</button> 
  </div>

  <img src="/car-top.png" alt="Car" class="car" id="car">

  <script src="/script.js"></script>

</body>
</html>