<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About Us - P/A</title>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet"/>
<link rel="stylesheet" href="/about.css" />
</head>
<body>
  <div class ="hero-bg"></div>
  <div class="hero-overlay"></div>

  <header class="navbar">
    <div class="logo"> 
        <span>TUPark</span>
        <img src="/image/TUPARK.png" alt="Logo" class="logo-img">
        <img src="/tup-logo.png" alt="TUP Logo" class="tup-logo">
    </div> 
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/features">Features</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/report-problem">Report</a></li>
      </ul>
    </nav>
  </header>

<main>
  <section class="text-center">
    <h1 class="about-title">About Us</h1>
    <p class="about-sub">
      We help drivers save time, reduce stress, and move more freely by making parking smarter and easier.
    </p>
  </section>

  <section>
    <div class="about-content">
      <div class="about-text">
        <h2>We're here to make parking as simple as possible.</h2>
        <p>Our goal is simple: to provide clear, accurate, and real-time information about parking slots for the Technological University of the Philippines - Manila, so everyone can enjoy a smoother driving experience.</p>
        <p>Not just for experienced drivers, but for everyone. We offer a reliable and convenient alternative to the usual stress of circling around looking for a space.</p>
        <p>We don't think parking should be about frustration or guesswork. With our system, every slot is updated in real-time so you can head straight to where you need to go. Parking becomes less about waiting, and more about moving forward.</p>
      </div>

      <div class="about-images">
        <div>
          <img src="https://lh3.googleusercontent.com/aida-public/AB6AXuCebow2R2CcCVrhpTXbFmWPOn5eXMZez78LitbPQuIz0UBNTYVobVJWqS4bsZ_LZ1ykyLI9G74mYZCXNvqCG7d19M5CwfxdIbO66jxcFZKepn_4K9Tq-WLlRfBua1txJ1zfr7OZwKm0B4nXnwNIb_fnFXIekqgNHfmUMx6BohdsgSO2alm__rGzEu6GqkV6X5NJHVfgUOc2yJWjI-hnDBPJ5rXh2yndKGuDe3_wCZs-3yeHYTPQuwf9BitUIdoqN-yMd4W9bypRYgs" alt="Happy man driving">
        </div>
        <div>
          <img src="https://lh3.googleusercontent.com/aida-public/AB6AXuD-bSnquaeNC7vtrn6f2af1jaJRlrIK_HbCl42dpAlPXbBXq6bDAkmmMd0YwEAxPi3WKy8H3FRo5ctWML11oYa1TbXCKnKWdZrm6AwtSTH2a8jI54eOHFs9s7qZxtt0Oriuwf7JYHoo3hOOS3OvCPnK4mUxnFUEVyDZi40cZ-Dh_YfB5I4pDVLv6qZ1W7mjR6uaaMnKHcJyKYVebT-gw_ll6tKOOQknh5KSZ3suZZub1HQ5DTKsE0_hNNaz5i4o_NwZoRzoBxSQcc0" alt="Woman smiling in a car">
        </div>
      </div>
    </div>
  </section>

  <section class="members-section text-center">
    <h2>Meet Our Members!</h2>
    <p>We are Computer Science students from Technological University of the Philippines - Manila dedicated to creating innovative solutions that address real-world problems. This parking availability system is part of our academic journey and aims to help drivers easily locate available slots, reduce traffic congestion, and support parking personnel in managing spaces more efficiently. Through this project, we strive to apply our knowledge and skills in computer science to build a practical, user-friendly system that makes parking smarter and more convenient for everyone.</p>

    <div class="arc-container">
      <div class="arc-item member1">
        <img src="/image/Maxime pic.jpg" alt="Member 1">
        <p>Salamat, Maxime</p>
      </div>
      <div class="arc-item member2">
        <img src="/image/Albaladejo, Joana Daniel .png" alt="Member 2">
        <p>Albaladejo, Joana Daniel</p>
      </div>
      <div class="arc-item member3">
        <img src="/image/Alvarez_Pic.png" alt="Member 3">
        <p>Alvarez, Aiza Camille</p>
      </div>
      <div class="arc-item member4">
        <img src="/image/Banting,_Sophia_Lorraine.jpg" alt="Member 4">
        <p>Banting, Sophia Lorraine</p>
      </div>
      <div class="arc-item member5">
        <img src="/image/dionnegandapic.jpg" alt="Member 5">
        <p>Vito, Dionne Margaret</p>
      </div>
    </div>
  </section>
</main>
</body>
</html>