<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contact Us - Parking Availability</title>
  
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;display=swap" rel="stylesheet"/>

  <link rel="stylesheet" href="/contact.css" />
</head>

<body>
  <div class="page-wrapper">
    <div class="background">
      <img src="/image/Contactbg.png" alt="Indoor parking garage" />
      <div class="overlay"></div>
    </div>

    <header class="navbar">
    <div class="logo"> 
        <span>TUPark</span>
        <img src="/image/TUPARK.png" alt="Logo" class="logo-img">
        <img src="/tup-logo.png" alt="TUP Logo" class="tup-logo">
    </div> 
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/features">Features</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/report-problem">Report</a></li>
      </ul>
    </nav>
  </header>

    <main class="main-section">
      <h1>Contact Us!</h1>
      <p>Any concerns or remarks? Call us or write a message!</p>
    </main>

    <section class="contact-section">
      <div class="contact-container">

        <div class="contact-card">
          <div class="contact-icon g-logo"></div>
          <h3>Email</h3>
          <p>aizacamille.alvarez@tup.edu.ph</p>
        </div>

        <div class="contact-card">
          <div class="contact-icon">
            <span class="material-symbols-outlined">
              <img width="48" height="48" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin"/>
            </span>
          </div>
          <h3>Linkedin</h3>
          <p>Camille Alvarez</p>
        </div>

        <div class="contact-card">
          <div class="contact-icon">
            <span class="material-symbols-outlined">location_on</span>
          </div>
          <h3>Location</h3>
          <p>Ayala Boulevard Ermita, Manila, 1000</p>
        </div>

      </div>
    </section>
  </div>
  
</body>
</html>