<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Parking Availability</title>

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="/user-dashboard.css" />
</head>

<body class="home-page">

  <header class="navbar">
    <div class="logo">
      <span>TUPark</span>
      <img src="/image/TUPARK.png" alt="Logo" class="logo-img">
    </div> 
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/features">Features</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/report-problem">Report</a></li>
      </ul>
    </nav>
  </header>

  <div class="overlay"></div>
  <div class="Front-content">
    <h1>TUP<span>ark</span></h1>
    <p>Parking Availability monitoring map at the Technological University of the Philippines - Manila</p>
    <button class="demo-btn" id="demo-btn">View Demo</button>
  </div>

  <img src="/image/car-top.png" alt="Car" class="car" id="car">
  
  <script src="/user-script.js"></script>

</body>
</html>